.gridContainer {
  gap: 1rem;
  display: grid;
  align-items: start; /* Pastikan teks sejajar */
  grid-template-columns: 1fr 0.5fr 1fr; /* Kolom tengah sebagai gap */
}

.invoiceSection {
  display: flex;
  justify-content: flex-start;
}

.invoiceGrid {
  display: grid;
  grid-template-columns: auto 1fr; /* Key kecil, value lebih fleksibel */
  gap: 10px; /* Spasi antar kolom */
  align-items: start; /* Pastikan teks sejajar ke atas */
}

.boldText {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5; /* Pastikan baris sejajar */
}

.invoiceGrid p {
  margin: 0;
  line-height: 1.5;
}
